.form-auth {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-auth .checkbox {
    font-weight: 400;
}

.form-auth .form-floating:focus-within {
    z-index: 2;
}

.form-auth input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-auth input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.grey-bg {
    background-color: hsl(0, 0%, 96%)
}

.login-text {
    color: hsl(217, 10%, 50.8%)
}

.hubla-login {
    max-width: 1200px;
}

.hubla-register {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;

}

.login-card {
    opacity: 0.9;
}